fastapi
uvicorn[standard]
python-jose[cryptography]
bcrypt
python-multipart
sqlalchemy
pymysql
redis
langchain-core
langchain-google-genai
langchain-openai
langchain-ollama
langgraph
docker
minio
pandas
numpy
scikit-learn
xgboost[cpu]
lightgbm
joblib
matplotlib
seaborn
plotly
streamlit
tavily-python
